.titlebar{
    display: grid;
    grid-template-columns: 0.1fr 3fr 5fr 2fr;
    row-gap: 10px;
    column-gap: 10px;
    vertical-align: top;
}
.logicon{
    padding-top: 10px;
}



.sitename{
    display: inline-block;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    
   

}
.sitelist{
    display: inline-block;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 20px;
    text-align: right;
    font-size: 20px;
    
}
.logoname{
    display: inline-block;
    font-weight: bolder;
    
}

.searchbar{
    display: inline-block;
    margin-top: 20px;
    
}
{
    box-sizing: border-box;
  }
  

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .carouselExampleIndicators{
      width: 100px;
  }


  body{
    margin: 0;
    padding: 0;

}



.card{
    border: none;
    border-radius: 8px;
    background-color: #fff;
}

.text1{
    font-size: 13;
    color: #cbcbcb;
}

.info{
    line-height: 13px;
}

.cost span{
    color: #286783;
    font-weight: bold;
    font-size: 16px;
}

.button-color{
    background: #3f0251;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 500;
    font-size: 14px;
}

ul{
    display: inline-flex;
    overflow: auto;
}

ul > li{
    display: inline-block;
    padding: 10px 20px;
}

.carouselExampleInterval{
    height: 100px;
}

